{% load static %}
<nav class="navbar navbar-expand-lg mb-3">
  <div class="container"> 
    <img src="/static/img/jello.png" width="30px" height="30px" alt="Your SVG Image">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
      Jello
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    {% include 'partials/menu.html' %}
    {% endif %}
  </div>
</nav>

<link rel="stylesheet" href="{% static 'custom.css' %}">