<li class="task">
    <p class="clickable-cell">
        <a href="{% url 'task_detail' task_title=task.id %}">
            <strong>{{ task.task_title }}: </strong>
        </a>
        {{ task.task_description }}
    </p>
    <p><strong>Assigned to:</strong>
        {% if task.assignees.all %}
            {% for assignee in task.assignees.all %}
                {{ assignee.username }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            No assignees
        {% endif %}
    </p>
    <p><strong>Due:</strong> {{ task.due_date }}
    <p><strong>Jelly Points:</strong> {{ task.jelly_points }}
    <strong>Priority:</strong> {{ task.get_priority_display }}</p>
</li>