{% extends 'base_content.html' %}
{% block main_content %}
{% load static %}

<html>
<head>
  <title>Create tasks here</title>
</head>
  <link rel="stylesheet" href="{% static 'taskstyle.css' %}"> 
  <body>
    <h1 id="example-text">Here you can create tasks...</h1>
    <p id="example-text">Please write your task title and description below</p>
    <form action="{% url 'create_task' id %}" method = "post">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' with form=form %}
      <input type="submit" value="Create task" class="submit-button">
      <a href="{% url 'task_list' %}" class="submit-button">Display tasks</a>

    </form>
    </body>
</html>
{% endblock %}