{% extends 'base_content.html' %}
{% block main_content %}
{% load static %}

<html>
  <h1 class="text-center">New Task</h1>
  <div class="card cover-card">
  <form action="{% url 'create_task' id=id %}" method = "post">
    {% csrf_token %}
    {% include 'partials/bootstrap_form.html' with form=form  %}
    <input type="submit" value="Create task" class="btn mt-2">      
    
  </form>
  <a href="{% url 'team_dashboard' id=id%}" class="btn mt-2">Display tasks</a>
  <div>
</html>
{% endblock %}