
<!-- <div class = "col-sm-12 col-md-6 offset-md-3">
  <div class="containers">
    <h1>Current Tasks</h1>
  
    <div class="group">
      <input type="checkbox" id="xd" />
      <label for="xd">Task 1</label>
    </div>
  
    <div class="group">
      <input type="checkbox" id="figma" />
      <label for="figma">Task 2</label>
    </div>
  
    <div class="group">
      <input type="checkbox" id="sketch" />
      <label for="sketch">Task 3</label>
    </div>
  </div>
</div>

<div class = "col-sm-12  col-md-6 offset-md-3">
  <div class="containers">
    <h1>Upcoming Tasks</h1>
  
    <div class="group">
      <input type="checkbox" id="s" />
      <label for="s">Task 1</label>
    </div>
  
    <div class="group">
      <input type="checkbox" id="ss" />
      <label for="ss">Task 2</label>
    </div>
  
    <div class="group">
      <input type="checkbox" id="sss" />
      <label for="sss">Task 3</label>
    </div>
  </div>
</div>
 -->

{% extends 'base_content.html' %}

{% block main_content %}
<div class = "col-sm-12 col-md-6">
  <div class="containers">
    <h1>Current Tasks</h1>
    <div class="group">
      <input type="checkbox" id="xd" />
      <label for="xd">Task 1</label>
    </div>

    <div class="group">
      <input type="checkbox" id="figma" />
      <label for="figma">Task 2</label>
    </div>

    <div class="group">
      <input type="checkbox" id="sketch" />
      <label for="sketch">Task 3</label>
    </div>
  </div>
</div>

<div class = "col-sm-12  col-md-6">
  <div class="containers">
    <h1>Upcoming Tasks</h1>

    <div class="group">
      <input type="checkbox" id="s" />
      <label for="s">Team 1</label>
    </div>

    <div class="group">
      <input type="checkbox" id="ss" />
      <label for="ss">Team 2</label>
    </div>

    <div class="group">
      <input type="checkbox" id="sss" />
      <label for="sss">Team 3</label>
    </div>
    <p>
      <a href='{% url 'create_task' %}' class="btn btn-lg btn-secondary">click here</a>
    </p>
  </div>
</div>
{% endblock %}
