
{% extends 'base_content.html' %}

{% block main_content %}
<div class="row">
  <div class = "col-sm-12 col-md-5">
    <div class="card flex">
      <h2 class="cover-text">My Jelly Points</h2>
      <div class="group">
          <h1>{{user.jelly_points}}</h1>
      </div>
    </div>
  </div>

  <div class = "col-md-5">
    <div class="card">
      <h2 class="cover-text">Number of Tasks TODO</h2>
      {% for task in next_three %}
      <div class="group">
          <input type="checkbox" id="task_{{ task.task_title }}" />
          <label for="task_{{ task.task_title }}">{{ task.task_title }}</label>
      </div>
    {% empty %}
      <p>No current tasks</p>
    {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class = "col-sm-12 col-md-5">
    <div class="containers card">
      <h2 class="cover-text">Number of Tasks in Progress</h2>
      {% for task in first_three %}
      <div class="group">
          <input type="checkbox" id="task_{{ task.task_title }}" />
          <label for="task_{{ task.task_title }}">{{ task.task_title }}</label>
      </div>
    {% empty %}
      <p>No current tasks</p>
    {% endfor %}
    </div>
  </div>

  <div class = "col-md-5">
    <div class="containers card">
      <h2 class="cover-text">Number of Tasks Done</h2>
      {% for task in next_three %}
      <div class="group">
          <input type="checkbox" id="task_{{ task.task_title }}" />
          <label for="task_{{ task.task_title }}">{{ task.task_title }}</label>
      </div>
    {% empty %}
      <p>No current tasks</p>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
