
{% extends 'base_content.html' %}

{% block main_content %}
<div class = "col-sm-12 col-md-6">
  <div class="containers">
    <h1>Current Tasks</h1>
    {% for task in first_three %}
    <div class="group">
        <input type="checkbox" id="task_{{ task.task_title }}" />
        <label for="task_{{ task.task_title }}">{{ task.task_title }}</label>
    </div>
  {% empty %}
    <p>No current tasks</p>
  {% endfor %}
  </div>
</div>

<div class = "col-sm-12  col-md-6">
  <div class="containers">
    <h1>Upcoming Tasks</h1>
    {% for task in next_three %}
    <div class="group">
        <input type="checkbox" id="task_{{ task.task_title }}" />
        <label for="task_{{ task.task_title }}">{{ task.task_title }}</label>
    </div>
  {% empty %}
    <p>No current tasks</p>
  {% endfor %}
    <p>
      <a href='{% url 'create_task' %}' class="btn btn-lg btn-secondary">create task</a>
    </p>
    <p>
      <a href='{% url 'create_team' %}' class="btn btn-lg btn-secondary">create team</a>
    </p>
  </div>
</div>
{% endblock %}
