{% extends 'base.html' %}
{% block body %}
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-6 my-auto mx-auto" >
        <p>Image Placeholder</p>
      </div>

      <div class="col-6 my-auto" >
        <div class="card cover-card offset-md-2 offset-lg-3">
          <h1 class="cover-heading">Jello</h1>
          <p class="cover-text">by Impala Team</p>

          <div class="btn-anchor">
            <a href='{% url "sign_up" %}' class="btn btn-lg btn-secondary">
              Sign up
            </a>         
            <a href='{% url "log_in" %}' class="btn btn-lg btn-secondary">
              Log in
            </a> 
          </div>

        </div>
      </div>      
    </div>
    <div class="bottom-archor">
      <p class="cover-text">The task manager handcrafted for you</p>
    </div>
      
  </div>
{% endblock %}
