{% extends 'base_content.html' %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="card cover-card mx-auto text-center">
        <h1 class="cover-heading">Jello</h1>
        <p class="cover-text">by Impala Team</p>
        <form action="{% url 'log_in' %}" method="post" class="mt-2">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Log in" class="btn btn-lg">
        </form>
        <a href='{% url 'email_verify' %}' class="btn mt-2">
          Forget Password
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}