{% extends 'base_content.html' %}
{% block main_content %}

  {% for team in teams %}

    <div class="vcenter-item" style="overflow-wrap: break-word;">
      <div class="text-center" style="width: 10%;">
        <a href="{% url 'team_dashboard' id=team.id%}">
        <p class="l-0"> {{ team.team_name}} </p>
        </a>
        <p> {{team.team_description}} </p>
      </div>
      <div class="card long-card vcenter-item d-flex flex-row">

        <div class="task" style="margin-left:5px;">
          <p> Project due date: </p>
          <p> {{team.created_at}} </p>
        </div>
        <div class="task" style="margin-left:5px;">
          <p> Number of Tasks Todo </p>
          <p> X </p>
        </div>
        <div class="task" style="margin-left:5px;">
          <p> Team Member</p>
          <p> {{team.members}} </p>
        </div>

      </div>
    </div>

    
    <!--
    <ul class="list-unstyled vcenter-item mt-2">
      <li class="l-0">{{ team.team_name }}</li>
      <li class="bg-col-white">{{ team.team_description }}</li>
      <li>{{ team.members }}</li>
      <li>{{ team.created_at }}</li>
    </ul>
    </div>
    -->
    {% empty %}
    <p colspan="3">You are not registered in any team.</p>
    {% endfor %}
  
{% endblock %}