{% extends 'base_content.html' %}
{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Change password</h1>
      <form action="{% url 'new_password' token=token %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="submit" value="Change password" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}