{% extends 'base_content.html' %}
{% block main_content %}

<div>
    <script>
        function showDateRange(value) {
          var dateRangeDiv = document.getElementById('dateRange');
          if (value === 'date_range') {
              dateRangeDiv.style.display = 'block';
          } else {
              dateRangeDiv.style.display = 'none';
          }
        }
    </script>

    <div class="col-12 text-center subheading-small">
        <div class="setting mt-2">
            <h2 class="medium-font ">Team Dashboard: {{team_name}}</h2>
            <!--  <p>Description (Bio): {{team_description}} Created At: {{created_at}}</p>  -->
            
            <div>
            <a href={% url 'create_task' id=id%} class="btn btn-sm subheading-small mt-2">
                Create Task
            </a>
            
            <a href="{% url 'remove_members' id %}" class="btn btn-sm subheading-small mt-2">
                Remove Members
            </a>

            <a href="{% url 'remove_members' id %}" class="btn btn-sm subheading-small mt-2">
                More
            </a>

            </div>
        </div>
        <!--
        <div class="setting">

            <form method="get">
                <label for="sort_by">Sort by:</label>
                <select name="sort_by" id="sort_by" onchange="this.form.submit()">
                    <option value="due_date" {% if sort_by == "due_date" %}selected{% endif %}>Due Date</option>
                    <option value="priority" {% if sort_by == "priority" %}selected{% endif %}>Priority</option>
                    <option value="status" {% if sort_by == "status" %}selected{% endif %}>Status</option>
                    <option value="task_title" {% if sort_by == "task_title" %}selected{% endif %}>Title</option>
                </select>
            </form>
            
            <form method="get">
                <label for="filter_by">Filter by:</label>
                <select name="filter_by" id="filter_by" onchange="showDateRange(this.value)">
                    <option value="">--Select Filter--</option>
                    <option value="high_priority" {% if filter_by == "high_priority" %}selected{% endif %}>High Priority</option>
                    <option value="med_priority" {% if filter_by == "med_priority" %}selected{% endif %}>Medium Priority</option>
                    <option value="low_priority" {% if filter_by == "low_priority" %}selected{% endif %}>Low Priority</option>
                    <option value="comp_status" {% if filter_by == "comp_status" %}selected{% endif %}>Complete</option>
                    <option value="incomp_status" {% if filter_by == "incomp_status" %}selected{% endif %}>Incomplete</option>
                    <option value="date_range">Date Range</option>
                </select>
            
                Hidden date range inputs
                <div id="dateRange" style="display: none;">
                    <label for="start_date">Start Date:</label>
                    <input type="date" id="start_date" name="start_date">
            
                    <label for="end_date">End Date:</label>
                    <input type="date" id="end_date" name="end_date">
                </div>
            
                <button class="btn btn-sm subheading-small" type="submit">Filter</button>
            </form>
            
            <div>
                <input type="text" name="search" placeholder="Search by task title" value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-sm subheading-small">Search</button>

            </div>
        </div>
        -->
    </div>

    <!-- Tasks and Assigned Members Section  -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class=" card task-card scrollable-list">
                <h2 class="subheading-small">TODO</h2>
                <ul class="list-unstyled">
                    {% for task in tasks %}
                        {% if task.get_status_display == "Not Completed"%}
                        {% include 'partials/task.html' %}
                        {% endif %}
                    {% empty %}
                        <p colspan="3">No tasks available.</p>
                    {% endfor %}
                </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class=" card task-card scrollable-list">
                <h2 class="subheading-small">IN PROGRESS</h2>
                <ul class="list-unstyled">
                    {% for task in tasks %}
                        {% if task.get_status_display == "In Progress"%}
                        {% include 'partials/task.html' %}
                        {% endif %}
                    {% empty %}
                        <p colspan="3">No tasks available.</p>
                    {% endfor %}
                </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class=" card task-card scrollable-list">
                <h2 class="subheading-small">DONE</h2>
                <ul class="list-unstyled">
                    {% for task in tasks %}
                        {% if task.get_status_display == "Completed"%}
                        {% include 'partials/task.html' %}
                        {% endif %}
                    {% empty %}
                        <p colspan="3">No tasks available.</p>
                    {% endfor %}
                </ul>
                </div>
            </div>
            
        </div>
    </div>s
    
</div>
{% endblock %}