@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400&display=swa');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab:wght@400&display=swa');


/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 100px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 * Cover page
 */

 h1.cover-heading {
  font-family:"Londrina Solid", sans-serif;
  font-size: 7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0;
}

h2.medium-font{
  font-family:"Londrina Solid", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0;
}

.small-font {
  font-family:"Londrina Solid", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 1rem;
}

.small-font a {
  color: black;
  text-decoration: none;
}

.bottom-archor {
  text-align: center;
  bottom: 0;
  right:0;
  left:0;
  position:absolute;

}

.cover-text {
  font-family:"Kelly Slab", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; 
}

.cover-text p{
  font-size: 1.2rem;
}

.header {
  padding: 10px;
  text-align:  center;
  background: rgb(5, 68, 104);
  color: white;
  font-size: 10px;
}

.card {
  background: linear-gradient(144deg, #F36868 -10.96%, rgba(239, 209, 209, 0.00) 102.95%);
  border:2px;
  margin: 0.5rem 1rem;
  min-height:10rem;
  padding : 20px 10px;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.task-card {
  width: max-content;
  justify-content: start;
}

.cover-card {
  min-height: 25rem;
  min-width: 25rem;
}

.long-card {
  max-width: 95%;
}
.cover-card-block {
  opacity: 1
}

.task{
  background-color: white;
  display: fle;
  border-radius: 1rem;
  min-width: 10rem;
  min-height: 4rem;
  margin-bottom: 4px;
  padding: 4px 6px;
}

/*
* Nav Bar
*/

.navbar {
  background-color: #FDAAAA;
  color:black
}

.navbar-brand {
  color:black
}

/*
 * Buttons
 */
.btn {
  border-radius: 1rem;
  border:#F36868;
  background: #F97777;
  color:black;
  font-size: 1.3rem;
}

.btn-anchor {
  height:100px; 
  bottom:0; 
  display: flex; 
  align-items: flex-end;
  gap:30px;
}


/*
 * forms
 */

.form-control {
  margin-top: 5px;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #770b5c;
}

.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #a81e1e;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}


/* Sidebar */

.sidebar {
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
}

.btn-toggle {
  padding: .50rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

/* Customize the links inside the collapsed content */
.collapse a {
  color: rgb(0, 0, 0); /* Dark text color for links */
  display: block; /* Ensure links are block-level elements */
  padding: 5px 10px; /* Add padding for better appearance */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Add rounded corners */
  margin-bottom: 5px; /* Add spacing between links */
}

 #bg-content {
  margin: 0;
  padding: 0;
  background: url('/static/bg.jpeg') center center/cover no-repeat;
  height: 100vh; 
  display: flex;
  flex-direction: column;
} 